<?xml version="1.0" encoding="iso-8859-1"?>
<modules>
    <module name='zobject'>
        <specification>
            <description>
                <name>ZObject System Module</name>
                <version>1.0</version>
                <short>ZObject System Module</short>
                <long><![CDATA[ZObject Main System Module]]></long>
            </description>

            <components>
                <element name='zobject' render='zobject' src='zo' definition="zobjectdef/@name" />
                <element name='zaction' render='zobject_action' src='zo-class-zaction' definition="zactiondef/@name" />
            </components>

            <program>
                <control type="display" src="php:zwpadmin_admin_panel_display" />
                <control type="redirect" src="php:zwpadmin_admin_panel_redirect" />
                <control type="page" src="php:zwpadmin_admin_panel_page" />
                <control type="autotemplate" src="zo-wpadmin-AutoTemplate.xsl" />
            </program>
        </specification>

        <api name='zo-save' loc='/zobject/save' type='form' method='POST' target='zobject::post' />
        <api name='zo-validate' loc='/zobject/validate' type='form' method='GET' target='zobject::validate' />
        <api name='zo-ajax' loc='/zobject/ajax' type='form' method='GET' target='zobject::get_ajax' />
        <api name='zo-action' loc='/zobject/action' type='form' method='GET' target='zobject::refresh_object' />
        <api name='zo-refresh' loc='/zobject/refresh' type='form' method='GET' target='zobject::refresh_object' />

        <file id='zo' type='php' src='zobject.php' mode='startup' />
        <file id='zo-element' type='php' src='zobject-element.php' />
        <file id='zo-query' type='php' src='zobject-query.php' />
        <file id='zo-bench' type='php' src='zobject-bench.php' mode='startup' />
        <file id='zo-access' type='php' src='zobject-access.php' mode='startup' />
        <file id='zo-autotemplate' type='php' src='zobject-autotemplate.php' />
        <file id='zo-format' type='php' src='zobject-format.php' mode='startup' />
        <file id='zo-validation' type='php' src='zobject-validation.php' mode='startup' />
        <file id='zo-source-check' type='php' src='zobject-source-check.php' mode='startup' />
        <file id="zo-datatypes" type="php" src="zobject-datatypes.php" mode='startup' />

        <file id='zo-class-zaction' type='php' src='zaction.php'	/>
        <!-- <file id='zo-class-zmodule' type='php' src='zmodule-display.php'	/> -->

        <file id="zo-css" type="css" src="css/zo-module-zobjects.css" />
        <file id="zo-datatypescss" type="css" src="css/zo-datatypes.css" />

        <file id="zo-js" type="js" src="zo.js" dependancies="jquery-validation,jquery-validation-additional-methods" mode='startup' />

        <typedef name="y_module_program_control_type" html-type="select" db-type="varchar" maxlength="30" source="display|redirect|page|autotemplate" />
        <typedef name="y_module_program_control_source" db-type="varchar" maxlength="200" />
        <typedef name="y_render_type" html-type="select" db-type="varchar" maxlength="20" source="|blank|plain|xml|html|quick-item|php|zobject" />
        <typedef name="y_access" db-type="varchar" maxlength="100" size="4" xsource="php:GetAccessFunctionSource" />
        <typedef name="y_pagelists" html-type="checklist" db-type="varchar" maxlength="100" size="4" source="php:GetPageListSource" />
        <typedef name="y_groups" html-type="checklist" db-type="varchar" maxlength="100" size="4" source="php:GetAccessGroupSource" />
        <typedef name="y_owners" html-type="checklist" db-type="varchar" maxlength="200" size="4" source="php:GetOwnerSource" />
        <typedef name="y_zname" html-type="select" db-type="varchar" maxlength="100" source="php:ZNameList" />
        <typedef name="y_zmode" html-type="select" db-type="varchar" maxlength="20" source="|display|edit|create|list|list-edit|list-create" />
        <typedef name="y_pagetemplate" html-type="combobox" db-type="varchar" maxlength="50" source="php:PageTemplateList" />
        <typedef name="y_objtemplate" html-type="combobox" db-type="varchar" maxlength="50" source="php:ObjectTemplateList" />
        <typedef name="y_db_type" html-type="select" db-type="varchar" maxlength="20" source="varchar|memo|integer|float|currency|date|checkbox|blob" />
        <typedef name="y_html_type" html-type="select" db-type="varchar" maxlength="20" source="(default)|hidden|password|checkbox|select|multi-select|textarea|combobox|checklist|wysiwyg" />
        <typedef name="y_pattern" db-type="varchar" maxlength="200" size="65" />
        <typedef name="y_datatype" html-type="select" db-type="varchar" maxlength="20" source="php:DataTypeList" />
        <typedef name="y_box" html-type="combobox" maxlength="20" size="20" source="none|vinyl|rmibox" />
        <typedef name="y_category" html-type="combobox" maxlength="20" size="30" source="General|Appearence|Header|Content" />
        <typedef name="y_image_icon" html-type="combobox" db-type="varchar" maxlength="200" size="20" source="php:ImageList_Icons" />
        <typedef name="y_image_any" html-type="combobox" db-type="varchar" maxlength="200" size="20" source="php:ImageList_Any" />
        <typedef name="y_css" html-type="combobox" db-type="varchar" maxlength="200" size="40" source="php:CssList" />
        <typedef name="y_rss" html-type="combobox" db-type="varchar" maxlength="200" size="40" source="php:RSSList" />
        <typedef name="y_template" html-type="combobox" db-type="varchar" maxlength="200" size="40" source="php:TemplateList" />
        <typedef name="y_header" db-type="varchar" maxlength="4000" size="40" />
        <typedef name="y_conthtm" html-type="select" db-type="varchar" maxlength="100" source="php:selectContentHTM" />
        <typedef name="y_contxml" html-type="select" db-type="varchar" maxlength="100" source="php:selectContentXML" />
        <typedef name="y_contxsl" html-type="select" db-type="varchar" maxlength="100" source="php:selectContentXSL" />
        <typedef name="y_template" html-type="select" db-type="varchar" maxlength="100" source="php:selectTemplate" />
        <typedef name="y_otemplate" html-type="select" db-type="varchar" maxlength="100" source="php:selectObjTemplate" />
        <typedef name="y_xpath" maxlength="255" size="65" db-type="varchar" />
        <typedef name="y_quickitemstyle" html-type="select" db-type="varchar" max-length="50" source="Scheduled|Single|List|Itinerary|Everything|None" />
        <typedef name="y_validation" db-type="varchar" max-length="50" />
        <typedef name="y_validation_required" html-type="checkbox" db-type="varchar" max-length="50" />
        <typedef name="y_validation_remote" db-type="varchar" max-length="50" />
        <typedef name="yesno" html-type="select" db-type="integer" source="Yes|No" format="php:zobject_format::YesNo" normalize="php:zobject_format::YesNoVal" />
        <typedef name="noyes" html-type="select" db-type="integer" source="No|Yes" format="php:zobject_format::YesNo" normalize="php:zobject_format::YesNoVal" />
        <typedef name="html_fragment" html-type="textarea" rows="2" cols="50" output-escape="1" />
        <typedef name="y_article_forum" html-type="select" source="php:ArticleForumList" />
        <typedef name="y_blog_linkstyle" html-type="select" source="Default|ID|UID|Date/Name|Month/Name" />
        <typedef name="" db-type="varchar" />
        <typedef name="hidden" html-type="hidden" />
        <typedef name="password" html-type="password" maxlength="50" size="20" db-type="varchar" />
        <typedef name="checkbox" html-type="checkbox" db-type="integer" normalize="php:zobject_format::NoYesVal" format="php:zobject_format::YesNo" />
        <typedef name="long" maxlength="15" size="10" db-type="integer" regexp="([-]?([1-9][0-9]*))|[0]" />
        <typedef name="username" maxlength="50" size="20" db-type="varchar" />
        <typedef name="uid" size="30" db-type="string" default="php:uniqid" />
        <typedef name="number" maxlength="15" size="10" regexp="(-?)([0-9]?)([0-9]*)(.?[0-9]*)" db-type="integer" />
        <typedef name="positive_integer" maxlength="15" regexp="[0-9]*" db-type="integer" />
        <typedef name="date" maxlength="10" regexp="([0-9]?)([0-9])([/.:])([0-9]?)([0-9])([/.:])([0-9][0-9]?[0-9]?[0-9]?" size="10" normalize="php:zobject_format::CleanDate" format="php:zobject_format::CleanDate" db-type="date" />
        <typedef name="date_today" maxlength="10" regexp="([0-9]?)([0-9])([/.:])([0-9]?)([0-9])([/.:])([0-9][0-9]?[0-9]?[0-9]?" size="10" normalize="php:zobject_format::CleanDate" format="php:zobject_format::CleanDate" db-type="date" default="php:zobject_format::Today" />
        <typedef name="datetime" maxlength="30" size="15" normalize="php:zobject_format::CleanDateTime" format="php:zobject_format::CleanDateTime" db-type="date" />
        <typedef name="datetime_now" maxlength="30" size="15" normalize="php:zobject_format::CleanDateTime" format="php:zobject_format::CleanDateTime" db-type="date" default="php:zobject_format::Now" />
        <typedef name="dateunix" maxlength="10" regexp="([0-9]?)([0-9])([/.:])([0-9]?)([0-9])([/.:])([0-9][0-9]?[0-9]?[0-9]?" size="10" normalize="php:strtotime" format="php:zobject_format::DressUnixDate" db-type="integer" default="php:time" />
        <typedef name="datetimeunix" maxlength="10" regexp="([0-9]?)([0-9])([/.:])([0-9]?)([0-9])([/.:])([0-9][0-9]?[0-9]?[0-9]?" size="10" normalize="php:strtotime" format="phpzobject_format:::DressUnixDateTime" db-type="integer" default="php:time" />
        <typedef name="string" size="50" db-type="varchar" />
        <typedef name="max_string" maxlength="255" size="50" db-type="varchar" />
        <typedef name="macro_string" maxlength="5000" size="50" db-type="varchar" />
        <typedef name="long_string" maxlength="200" size="50" db-type="varchar" />
        <typedef name="medium_string" maxlength="100" size="50" db-type="varchar" />
        <typedef name="short_string" maxlength="50" size="20" db-type="varchar" />
        <typedef name="tiny_string" maxlength="20" size="20" db-type="varchar" />
        <typedef name="micro_string" maxlength="10" size="10" db-type="varchar" />
        <typedef name="nano_string" maxlength="5" size="5" db-type="varchar" />
        <typedef name="memo" html-type="textarea" cols="70" rows="11" db-type="memo" />
        <typedef name="name" maxlength="80" size="40" db-type="varchar" />
        <typedef name="address" maxlength="100" size="40" db-type="varchar" />
        <typedef name="city" maxlength="30" size="30" db-type="varchar" />
        <typedef name="state" maxlength="2" size="2" db-type="varchar" />
        <typedef name="zip" maxlength="10" size="10" db-type="varchar" />
        <typedef name="url" maxlength="255" size="30" db-type="varchar" format="php:zobject_format::DressURL" normalize="php:zobject_format::CleanURL" />
        <typedef name="uri" maxlength="255" size="30" db-type="varchar" format="php:zobject_format::DressURL" normalize="php:zobject_format::CleanURL" />
        <typedef name="phone" maxlength="20" db-type="varchar" />
        <typedef name="email" maxlength="200" db-type="varchar" />
        <typedef name="keywordlist" maxlength="200" size="50" db-type="varchar" />

        <zobjectdef name="y_datatype" index="name" key-field="T" allow-display="[!]">
            <xmlfile src="php:zsite_module_file" list="//*/typedef/@name" base="//*/typedef[@name='@T']" />
            <action>php:zadmin_redirect_url</action>
            <fielddefs>
                <fielddef id="name" caption='DataType' datatype="string" required="1" remote="php:zwpadmin_verify_datatype_name" access="@" />
                <fielddef id="db-type" datatype="y_db_type" access="@" />
                <fielddef id="html-type" datatype="y_html_type" access="@" />
                <fielddef id="multiple" datatype="checkbox" access="@" allow-list='0' />
                <fielddef id="size" datatype="number" access="@" />
                <fielddef id="validation" datatype="string" size="50" access="@" allow-list='0' />
                <fielddef id="maxlength" datatype="number" access="@" />
                <fielddef id="regexp" datatype="y_pattern" access="@" allow-list="0" />
                <fielddef id="source" datatype="string" access="@" allow-list="0" />
                <fielddef id="format" datatype="string" access="@" allow-list="0" />
                <fielddef id="normalize" datatype="string" access="@" allow-list="0" />
                <fielddef id="text" datatype="memo" access="text()" allow-list="0" />
                <fielddef id="output-escape" datatype="yesno" access="@" allow-list="0" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="y_zobject_render" key-field=";y_zobject,Rn" index="type" allow-display="[!]">
            <style>
                <caption>ZObject Render</caption>
                <class>Zadmin</class>
            </style>
            <xmlfile src="php:zwpadmin_module_file" list="/*/zobjectdef[@name='@ZObj']/render/@type" base="/*/zobjectdef[@name='@ZObj']/render[@type='@Rn']" />
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-object-render-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-object-render-edit.xml" />
            <fielddefs>
                <fielddef id="type" datatype="y_zmode" required="1" access="@type" />
                <fielddef id="src" datatype="string" required="1" access="@src" />
                <fielddef id="name" datatype="string" access="@name" />
            </fielddefs>
        </zobjectdef>
        <zobjectdef name="y_zobject_sql" key-field=";y_zobject,st" index="type" allow-display="[!]">
            <style>
                <caption>ZObject SQL</caption>
                <class>Zadmin</class>
            </style>
            <xmlfile src="php:zwpadmin_module_file" list="/*/zobjectdef[@name='@Z']/sql/@type" base="/*/zobjectdef[@name='@Z']/sql[@type='@st']/" />
            <fielddefs>
                <fielddef id="type" datatype="y_zmode" required="1" access="@type" />
                <fielddef id="key-field" datatype="string" access="@key-field" />
                <fielddef id="query" datatype="y_sql" required="1" access="" />
            </fielddefs>
        </zobjectdef>
        <zobjectdef name="y_zobject_field" key-field=";y_zobject,F" index="id" allow-display="[!]">
            <style>
                <caption>Field Definition</caption>
                <class>Zadmin</class>
            </style>
            <render name="wp-ajax" type="edit" src="templates/zobjects-wp-admin-object-field-ajax.xml" />
            <render name="wp-ajax" type="create" src="templates/zobjects-wp-admin-object-field-ajax.xml" />
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-object-field-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-object-field-edit.xml" />
            <xmlfile src="php:zwpadmin_module_file" list="/*/zobjectdef[@name='@ZObj']/fielddefs/fielddef/@id" base="/*/zobjectdef[@name='@ZObj']/fielddefs/fielddef[@id='@F']/" />
            <fielddefs>
                <fielddef id="id" datatype="string" required="1" remote="ZO_ajax.php" access="@" allow-edit="[-]" />
                <fielddef id="caption" datatype="string" access="@" allow-list="[-]" />
                <fielddef id="default" datatype="string" access="@" allow-list="[-]" />
                <fielddef id="datatype" datatype="y_datatype" access="@" />
                <fielddef id="category" datatype="y_category" access="@" />
                <fielddef id="access" datatype="string" access="@" />
                <fielddef id="mode" datatype="y_zmode" access="@" allow-list="[-]" />
                <fielddef id="validation" datatype="y_validation" access="@" />
                <fielddef id="required" datatype="y_validation_required" access="@" />
                <fielddef id="remote" datatype="y_validation_remote" access="@" />
                <fielddef id="multiple" caption="Mult?" datatype="checkbox" access="@" />
                <fielddef id="allow-display" datatype="y_access" access="@" allow-list="[-]" />
                <fielddef id="allow-create" datatype="y_access" access="@" allow-list="[-]" />
                <fielddef id="allow-edit" datatype="y_access" access="@" allow-list="[-]" />
                <fielddef id="allow-list" datatype="y_access" access="@" allow-list="[-]" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="y_zobject" index="name" key-field="ZObj" allow-display="[!]">
            <style>
                <caption>ZObject Definition</caption>
                <class>Zadmin</class>
                <options addonlist="1" />
            </style>
            <action>php:zwpadmin_redirect_url</action>
            <render type="display" src="templates/zobject-display.xml" />
            <render type="list" src="templates/zobject-list.xml" />
            <render type="edit" src="templates/zobject-edit.xml" />
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-object-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-object-edit.xml" />
            <xmlfile src="php:zwpadmin_module_file" list="/*/zobjectdef/@name" base="/*/zobjectdef[@name='@ZObj']/" />
            <fielddefs>
                <fielddef id="name" datatype="string" required="1" remote="php:zwpadmin_verify_zobject_name" access="@" />
                <fielddef id="key-field" datatype="string" access="@" />
                <fielddef id="key-field-optional" datatype="string" caption="Optional Key Fields" access="@" />
                <fielddef id="index" datatype="string" access="@" />
                <fielddef id="pre-trigger" datatype="string" caption="PHP Pre Trigger" access="@" />
                <fielddef id="post-trigger" datatype="string" caption="PHP Post Trigger" access="@" />
                <fielddef id="action" datatype="string" />
                <!--    
      <fielddef id="list-index" datatype="string" access="@" />
      <fielddef id='return' datatype='string' />
-->
                <fielddef id="xmlsrc" datatype="string" access="xmlfile/@src" />
                <fielddef id="xmllist" datatype="y_xpath" access="xmlfile/@list" allow-list="0" />
                <fielddef id="xmlbase" datatype="y_xpath" access="xmlfile/@base" allow-list="0" />
                <fielddef id="sql" datatype=":y_zobject_sql" mode="list" allow-list="0" />
                <fielddef id="render" datatype=":y_zobject_render" mode="list" allow-list="0" />
                <fielddef id="fielddef" datatype=":y_zobject_field" mode="list" allow-list="0" />
                <fielddef id="access" datatype="y_access" access="@allow-display" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="y_zaction_rule" key-field=";y_action,y" index="position()" allow-display="[!]">
            <style>
                <caption>ZActions</caption>
                <class>Zadmin</class>
            </style>
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-action-rule-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-action-rule-edit.xml" />
            <xmlfile src="php:zwpadmin_module_file" list="/*/zactiondef[@name='@Z']/action" base="/*/zactiondef[@name='@Z']/action[@y]/" />
            <fielddefs>
                <fielddef id="value" datatype="string" access="@value" />
                <fielddef id="text" datatype="string" access="@text" />
                <fielddef id="class" datatype="string" access="@class" />
                <fielddef id="rule" datatype="textarea" access="text()" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="y_zaction" key-field="ZAct" index="name" allow-display="[!]">
            <style>
                <caption>ZActions</caption>
                <class>Zadmin</class>
                <options addonlist="1" />
            </style>
            <action>php:zwpadmin_redirect_url</action>
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-action-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-action-edit.xml" />
            <xmlfile src="php:zwpadmin_module_file" list="/*/zactiondef/@name" base="/*/zactiondef[@name='@ZAct']/" />
            <fielddefs>
                <fielddef id="name" datatype="string" access="@name" required="1" remote="php:zwpadmin_verify_zaction_name" />
                <fielddef id="require" datatype="string" access="@require" />
                <fielddef id="type" datatype="string" access="@type" />
                <fielddef id="rule-type" datatype="combobox" source="replace|sql|function" access="@type" />
                <fielddef id="action" datatype=":y_zaction_rule" multiple="yes" allow-list="0" />
            </fielddefs>
        </zobjectdef>

    </module>
</modules>